<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This little app is created by Mohammed Rafique. It uses data from mapbox.com and darksky.net!</p>
        <img src="./img/dhaasu.jpg" alt="Mohammed in BNI" class="portrait">
        <p>{{imageInfo}}</p>
    </div>


    {{>footer}}

</body>

</html>